@import "tailwindcss";

/*set colors in project*/

@theme {
  --color-primary-1: #518581;
  --color-primary-2: #6e9996;
  --color-primary-3: #8baeab;
  --color-primary-4: #a8c2c0;
  --color-primary-5: #c5d6d5;
  --color-primary-6: #dce7e6;
  --color-secondary-1: #ffb23f;
  --color-secondary-2: #ffbf5f;
  --color-secondary-3: #ffcc7f;
  --color-secondary-4: #ffd89f;
  --color-secondary-5: #ffe5bf;
  --color-secondary-6: #fff0d9;
  --color-title-1: #151411;
  --color-title-2: #3c3b39;
  --color-title-3: #636260;
  --color-title-4: #8a8988;
  --color-title-5: #b1b1b0;
  --color-title-6: #d0d0cf;
  --color-paragraph-1: #afadb5;
  --color-paragraph-2: #bcbbc1;
  --color-paragraph-3: #cac8ce;
  --color-paragraph-4: #d7d6da;
  --color-paragraph-5: #e4e4e6;
  --color-paragraph-6: #efeff0;
  --color-placeholder-1: #f9f9f9;
  --color-placeholder-2: #fafafa;
  --color-placeholder-3: #fbfbfb;
  --color-placeholder-4: #fcfcfc;
  --color-placeholder-5: #fdfdfd;
  --color-placeholder-6: #fefefe;
  --color-screen-1: #ffffff;
  --color-screen-2: #f3f3f3;
}

* {
  box-sizing: border-box;
}
